


body{
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    
    
}






/*esto es el contenedor principal osea donde va tanto el resultado de result summary y sus componentes inputs*/


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 99.89vw;
    height: 99.6vh;
  
    
}

.container-sub{

   
        
            width: 55%;
           height: 68%;
 

    border-radius: 4%;
   animation: box-shadow 2s ease-in-out infinite ;
    

}
@keyframes box-shadow{  0% {box-shadow: 5px 7px 10px rgb(140, 35, 120);}
25% {box-shadow: 11px 8.5px 12.5px rgb(140, 35, 120);}
  50% {box-shadow: 17px 10px 15px rgb(140, 35, 120);}
  75% {box-shadow: 11px 8.5px 12.5px rgb(140, 35, 120);}
  100% {box-shadow: 5px 7px 10px rgb(140, 35, 120);}


}
/*clases y tipos de estilos del color de el resultado*/

#result{
    width: 44.4%;
   
    height: 100%;
    border-radius: 5%;
    float: left;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    background-color: #5c45ee;

  
}

.result-peligro{
    width: 44.4%;
   
    height: 100%;
    border-radius: 5%;
    float: left;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    background: linear-gradient( #d00000, #6a040f);

  
}

.result-normal{
    width: 44.4%;
   
    height: 100%;
    border-radius: 5%;
    float: left;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    background: linear-gradient( #ffba08, #f48c06);

  
}


.h2-result{text-align: center;
    color:#CAC4FF;
    margin: 1.5em;

}



.component{
    
    height: 100%;
    width: 49%;
    float: right;
    border-radius: 5%;

    
}

.container-of-circulo{
    
    height: 30vh;
    width: 100%;
    display: flex;
    
    justify-content: center;
   
    
}
.categoria{
    text-align: center;
    word-wrap: break-word;
    
}

.categoria-texto{
    font-size: 14px;
    color: #fff;
    word-wrap: break-word;
}

.circulo{
    height: 90px;
    width: 90px;
   
    border-radius: 50%;
    padding: 3em;
    display: flex;
    align-items: center;
    background:linear-gradient( #4B23CA, #5c45ee);
    box-shadow: 3px 3px 3px #5C45ED  purple;
    display: flex;
    flex-direction: column;

    

}
.circulo-peligro{
    height: 90px;
    width: 90px;
   
    border-radius: 50%;
    padding: 3em;
    display: flex;
    align-items: center;
    background:  linear-gradient( #d00000, #6a040f);
    box-shadow: 3px 3px 3px rgb(187, 18, 69);
    display: flex;
    flex-direction: column;

    

}

.circulo-normal{
    height: 90px;
    width: 90px;
   
    border-radius: 50%;
    padding: 3em;
    display: flex;
    align-items: center;
    background:linear-gradient( #ffba08, #f48c06);
    box-shadow: 3px 3px 3px yellow;
    display: flex;
    flex-direction: column;

    

}

.circulo-numero{
    font-size: 4em;
    font-weight: bold;
    margin-bottom: 5px;
}

span{
    color:#fff;
    display: flex;
    
    

}

.especial{
    font-size: 22px;
    color: #fff;
}
.informacion{
    width: 100%;
    height: 30%;
    
    margin-top: 12px;
    border-radius: 5%;
    overflow: hidden;

    word-wrap: break-word;
    
}
.numero{margin: 3px;
}

.component-sub{
    padding: 10px 24px;
}


/* estos son los estilos de la seccion component*/
input{padding: 2px 10px;
}


.componentes{

    margin-bottom: 10px;
    
    height: 3.3em;
    width: 94%;
    border-radius: 8px;
    border: none;
    outline: none;
    background-color: aqua;
    font-size: 17px;
    font-weight: bold;

}

.reaccion{
 background-color: #fbedec;
 color :red;
}

.memory{
    background-color: #fbf6ec;
    color: #FDCC6C;
}

.visual{background-color: #F3F3FD;
    color: blue;}

.verbal{background-color: #eaf9f7;
    color: #3BCBA9;}

    /*placeholder*/
.reaccion::placeholder{
    color: red;
    background: url("./iconos\ del\ placeholder/icon-reaction.svg") left/ contain no-repeat
  
}


.memory::placeholder{
    color: #FDCC6C;
    background: url("./iconos\ del\ placeholder/icon-memory.svg") left/ contain no-repeat
  
}


.verbal::placeholder{
    color: #3BCBA9;
    background: url("./iconos\ del\ placeholder/icon-verbal.svg") left/ contain no-repeat
  
}

.visual::placeholder{
    color: blue;
    background: url("./iconos\ del\ placeholder/icon-visual.svg") left/ contain no-repeat
  
}

.componentes::placeholder{
    font-size: 17px;
    font-weight: bold;
    
}

#button{
    width: 100%;
    height: 2.5em;
    background-color: #00f;
    color: #fff;
    border-radius:30px ;
    margin-top: 5px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    overflow: hidden;
}
/* esta parte es el diseño responsive para telefonos tomando mas que todo como referencia un iphone 14*/


@media  screen and (max-width: 600px) {
    #result{
        width: 92%;
        height: 89%; 
        border-radius: 5%;
        margin: 0 auto; 
        display: flex;
        flex-direction: column;
        background-color: #5c45ee;
        justify-content: center;
        margin: auto;
    }
    .result-peligro{
        width: 92%;
        height: 89%;
        border-radius: 5%;
        float: left;
        padding: 0 15px;
        display: flex;
        flex-direction: column;
        background: linear-gradient( #d00000, #6a040f);
    
      
    }
    
    .result-normal{
        width: 92%;
        height: 89%;
        border-radius: 5%;
        float: left;
        padding: 0 15px;
        display: flex;
        flex-direction: column;
        background: linear-gradient( #ffba08, #f48c06);
    
      
    }

    
    .result-peligro{ width: 90%;
        height: 89%}
    .container-sub{
        height: auto; /* Cambia a auto para que se ajuste al contenido */
        width: 80%; /* Usa el 100% del ancho disponible */
     
        border-radius: 4%;
        box-shadow: none;
        display: flex;
        flex-direction: column;
        box-shadow: 17px 10px 15px rgb(140, 35, 120);
    }
  
    .componentes{
        margin-bottom: 10px;
        height: auto; /* Cambia a auto para que se ajuste al contenido */
        width: 100%; /* Usa el 100% del ancho disponible */
        border-radius: 8px;
        border: none;
        outline: none;
        
        font-size: 17px;
        font-weight: bold;
    }
    .container-of-circulo{
        height: auto; /* Cambia a auto para que se ajuste al contenido */
        width: 100%;
        display: flex;
     
        justify-content: center;
    }
    .circulo{
        height: 25px;
        width: 25px;
        border-radius: 50%;
        padding: 3.5em;
        display: flex;
        align-items: center;
        background:linear-gradient( #4B23CA, #5c45ee);
        box-shadow: 3px 3px 3px #5C45ED  purple;
        text-align: center;
        flex-direction: column;
    }
   
    .circulo-peligro{
        height: 25px;
        width: 25px;
        padding: 3.5em;
        border-radius: 50%;
        
        display: flex;
        align-items: center;
        background:  linear-gradient( #d00000, #6a040f);
        box-shadow: 3px 3px 3px rgb(187, 18, 69);
        display: flex;
        flex-direction: column;
    
        
    
    }
    .h2-result{
        padding: 2px;
    }
    
    .circulo-normal{
        height: 25px;
        width: 25px;
       text-align: center;
        border-radius: 50%;
        padding: 3.5em;
        display: flex;
        align-items: center;
        background:linear-gradient( #ffba08, #f48c06);
        box-shadow: 3px 3px 3px yellow;
        display: flex;
        flex-direction: column;
    
        
    
    }
    .circulo-numero{
        font-size: 2em;
        font-weight: bold;
        margin-bottom: 5px;
    }
    .h2-result{
        text-align: center;
        color:#CAC4FF;
        margin: 0; 
    }
    .component{
        height: auto; 
        width: 100%; 
        border-radius: 5%;
    }

 
}